div{
    font-family: "Assistant", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: lighter;
}
body {
    background: linear-gradient(45deg, rgba(51, 41, 48, 1), rgba(48, 56, 64, 1));
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.background {
    height: 100vh;
    width:100vw;
    background: url("../images/pittsburgh_background_unsplash.jpg"), linear-gradient(45deg, rgba(65, 32, 56, 0.5), rgba(7, 76, 146, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    overflow: auto;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


.portfolio_head {
    color:  #dbdbdb;
    text-transform: lowercase;
    text-align: center;
    /* font-size: 3rem; */
    letter-spacing: 0.2em;
    margin-top: 4.4rem;
    margin-bottom: 3.5rem;
}
.section_break {
    width: 50px;
    border: 1px solid #dbdbdb;
    margin-bottom: 40px;
}


.portfolio_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}


.project {
    display: flex;
    width:100%;
    justify-content: center;
}
.project_text {
    color:  #dbdbdb;
    font-size: 1rem;

}

.project_title {
    color:  #dbdbdb;
    font-size: 1.75rem;
    letter-spacing: 0.25em;
    margin-bottom: .75em;
}


.project_text_link {
    color:rgba(154, 211, 240, 0.8);
}
.project_text_link:visited {
    color:rgba(154, 211, 240, 0.8);
}

.proj_img_link {
    border-radius: 50%;
    transition: background-color 0.25s ease,
                color  0.25s ease,
                border  0.25s ease;
}
.proj_img_link:hover  {
    cursor: pointer;
    color:rgba(154, 211, 240, 0.8);
    /* border: 1px solid  rgba(154, 211, 240, 0.5); */
    /* background-color: rgba(0,0,0,.3); */
}
.proj_img_link:hover>.project_image  {
    color:rgba(154, 211, 240, 0.8);
    border: 1px solid  rgba(154, 211, 240, 0.5);
    background-color:rgba(58, 72, 78, 0.3)
}
.project_image {
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid #dbdbdb;
    background-clip: content-box;
    background-origin: content-box;
    background-blend-mode: darken;
    transition: background-color 0.25s ease,
                color  0.25s ease,
                border  0.25s ease;
    background-color: rgba(0,0,0,.1)
}
.project_image:after {
    content:"";
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
}
.project_one_image {
    background-image: url("../images/poemlapse_splash_page.png");
}
.project_two_image {
    background-image: url("../images/simple-decks_splash_page.png");
}
.project_three_image {
    background-image: url("../images/pypractice_splash_page.png");
}
.project_four_image {
    background-image: url("../images/boba_splash_page.png");
}

.footer_space {
    height: 8rem;
}
.home_icon_container {
    height: 0px;
    width: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    left: 0px;
}
.tab {
    background: rgba(55,59,69,1);
    width:50px;
    height: 50px;
    padding: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
.home_icon {
    display:flex;
    justify-content: center;
    align-items: center;
    width:  35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #F4F4F5;
    margin: 5px;
    transition: background-color 0.25s ease,
                color  0.25s ease,
                border  0.25s ease;
}

.home_icon:hover  {
    cursor: pointer;
    color:rgba(154, 211, 240, 0.8);
    border: 1px solid  rgba(154, 211, 240, 0.5);
    background-color: rgba(0,0,0,.3)
}
.home_icon:hover>.home_link {
    color:rgba(154, 211, 240, 0.8);
    background-color: rgba(0,0,0,.3);
}
.home_link {
    text-decoration: none;
    color: #F4F4F5;
    transition: background-color 0.25s ease,
    color  0.25s ease,
    border  0.25s ease;
}
.home_link:visited {
    text-decoration: none;
    color: #F4F4F5;
}

@media (max-width: 736px) {
    .portfolio_head {
        font-size: 3rem;
    }
    .project {
        flex-direction: column;
        align-items: center;
    }
    .project_text {
        text-align: center;
    }
    .project_title {
        margin-top: 1em;
    }
    .project_links {
        font-size: 1.25em;
        letter-spacing: .1em;
        margin-bottom: .5em;
    }
    .project_description {
        font-size: 1.25em;
        letter-spacing: .1em;
    }
    
    .project_image {
        width:250px;
        height:250px;
        max-width: 70vw;
        max-height: 70vw;
        padding: 20px;
    }
}
@media (min-width: 737px) and (max-width: 1699px) {
    .portfolio_head {
        font-size: 3rem;
    }
    .project {
        padding-bottom: 50px;
    }
    
    .project_image {
        width:250px;
        height:250px;
        max-width: 70vw;
        max-height: 70vw;
        padding: 20px;
    }
    .project_links {
        font-size: 1em;
        letter-spacing: .1em;
        margin-bottom: .5em;
    }
    .project_text {
            width: calc(100% - 320px);;
            max-width: 650px;
            font-size: 1.25em;
    }
    .proj_img_link_evens,
    .project_two_image,
    .project_four_image {
        order: 2
    }
    .project_two_text,
    .project_four_text {
        margin-right: 2em;
    }
    .project_one_text,
    .project_three_text {
        margin-left: 2em;
    }

}

@media (min-width: 1699px) {
    .portfolio_head {
        font-size: 5rem;
    }
    .project {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .project_text {
            width: calc(100% - 400px);;
            max-width: 800px;
            font-size: 1.5em;
    }
    .project_links {
        font-size: 1em;
        letter-spacing: .1em;
        margin-bottom: .5em;
    }
    
    .project_image {
        width:375px;
        height:375px;
        max-width: 70vw;
        max-height: 70vw;
        padding: 30px;
    }
    .proj_img_link_evens,
    .project_two_image,
    .project_four_image {
        order: 2;
    }
    .project_two_text,
    .project_four_text {
        margin-right: 2em;
    }
    .project_one_text,
    .project_three_text {
        margin-left: 2em;
    }

}
